.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 /-1;
    grid-row: 1;
    justify-content: end;
    align-items: center;
  }
 
}

.sid-btn {
  background-color: $color-white;
  width: 4.5rem;
  height: 2px;
  margin-top: 4rem;
  border: none;

  &::before,
  &::after {
    content: "";
    display: block;
    background-color: $color-white;
    width: 4.5rem;
    height: 2px;
  }
  &::before {
    transform: translateY(-1.5rem);
  }
  &::after {
    transform: translateY(1.3rem);
  }
  @media only screen and (max-width: $bp-large) {
    margin-right: 4rem;
    margin-top: 0rem;
    &::before {
      transform: translateY(-1.2rem);
    }
    &::after {
      transform: translateY(1rem);
    }
  }
}
